* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #666;
}

img {
    width: 100px;
    height: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 500px 100px;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 250px 950px;
}

#header_logo {
    width: 200px;
    height: 40px;
    position: relative;
}

#header_logo > img {
    width: 100%;
    height: 100%;
}

#menu_bar {
    margin-left: 300px;
}

#menu_bar * {
    z-index: 10;
}

#menu_bar ul {
    width: 600px;
    margin: 0 auto;
}

#menu_bar > ul > li {
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    position: relative;
}

#menu_bar > ul > li > a {
    color: #fff;
}

#menu_bar > ul > li > ul > li > a {
    color: #000;
}

#menu_bar > ul > li a {
    display: block;
    border: 1px solid #666;
}

#menu_bar > ul > li ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

#menu_bar > ul > li > ul > li {
    background-color: #fff;
}

#menu_bar > ul > li > a:hover {
    background-color: #222;
}

#menu_bar > ul > li > ul > li > a:hover {
    background-color: #ddd;
}

nav {
    display: grid;
    grid-template-rows: 300px 200px;
}

#slide {
    position: relative;
    display: flex;
    overflow: hidden;
}

#slide > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slide img {
    width: 100%;
    height: 100%;
    position: relative;
}

#slide p {
    z-index: 9;
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

#notice_btn, #gallery_btn {
    border: 1px solid #000;
    border-bottom: none;
    width: 80px;
    height: 30px;
    text-align: center;
}

#content_area {
    border: 1px solid #000;
    width: 350px;
    height: 150px;
}

#notice_tbl {
    width: 100%;
    height: 100%;
}

#notice_tbl tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

#notice_tbl td {
    line-height: 35px;
}

#gallery_area {
    border: 1px solid #000;
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

#gallery_area > img {
    margin-top: 20px;
}

#banner {
    display: flex;
    justify-content: space-around;
}

#banner > div {
    margin-top: 50px;
}

#banner > div img {
    border-radius: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
}

#footer_logo {
    position: relative;
}

#copy {
    margin-top: 80px;
}

#family {
    margin-top: 40px;
}

#logo_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.5em;
}

#popup {
    border: 1px solid #000;
    width: 600px;
    height: 250px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 100;
}

#title {
    border-bottom: 1px solid #000;
}

#popup > button {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#banner > div > p {
    text-align: center;
}